* {
  font-family: 'Prompt', sans-serif;
}
form{
	margin: 10% 43%;
}
button {
	margin-top: 10%;
	border-radius: 3%;  
}
input {
	width: 120%;
}
.input {
  position: relative;
}
.input span {
  display: block;
  background-color: rgba(213,3,33,0.8);
  padding: 5px;
  position: absolute;
  left: 126%;
  top: 8px;
  width: 200px;
  color: white;
}
